name: CI
on: [push]
jobs:
  test:
    runs-on: "macos-latest"

    steps:
      - uses: actions/checkout@v1

      - name: Install tools
        run: |
          brew install --build-bottle --verbose Formula/*.rb
